<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenidx al perfil de Lovelave</h1>
    <img src="/img/220px-RichardLovelace.jpg" alt="Imagen de muestra">
    <p>Richard Lovelace (1618 - 1657 o 1658) fue un poeta inglés, nacido en Lovelace place, en el condado de Kent.

        Fue uno de los poetas caballeros y un destacado realista. Apoyó al rey Carlos I durante la guerra civil lo que le llevó a prisión en 1648. Durante su cautiverio, apoyó económicamente a las tropas realistas y murió en la más absoluta miseria poco tiempo después. Su hermano se encargó de que sus poemas fueran publicados en una recopilación póstuma.
        
        Su principal musa fue Lucy Scheverell a la que llamaba Lux Casta. A ella le dedicó sus más destacados poemas The Lucasta poems.</p>
</body>
</html>